

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        background-color: #222222;
        padding: 10px 10px 0px 10px;
        /* 全局文字 */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
        color:var(--mainColor);
        letter-spacing: 0.01em;
        /* 禁止复制*/
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE/Edge */
        user-select: none; /* 标准语法 */
        /* 锐化 */
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* 全局滚动 */
        overflow-y: scroll;
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .tabs{
        width: 100%;
        min-width: 320px;
        max-width:520px;
        padding: 0px 0px;
        cursor: pointer;
        display: flex;
        position: relative;
    }

    .tab {
        width: 100ch;  
        padding: 8px 0px;
        margin-right: -1px;
        display: flex;
        justify-content: center;
        border: 1px solid var(--boxBod);
        text-align: center;
        position: relative;
    }

    .tab.active {
        background-color: var(--boxBak);
        color: #ffffff;
        padding:8px 8px;
        position: relative;
    }

    .tab-content{
        width: 100%;
        min-width: 320px;
        max-width:520px;
        position: relative;
    }
    .content {
        display: none;
        height: 450px;
        padding: 12px;
        border: 1px solid var(--boxBod);
        background-color: var(--boxBak);
        margin-top: -1px;
        position: relative;
    }

    .page-box{
        height: 440px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .page-box::-webkit-scrollbar {
        display: none;
    }


    .btn-text{
        cursor: pointer;
        color: var(--mainColor);
    }

    .btn-text:hover{
        color: var(--boxBod);
    }


    .btn-search{
        width: 12px;
        height: 12px;
    }

    .btn-search-close{
        position: absolute;
        right: 10px;
        width: 12px;
        height: 12px;
        opacity: 0.5;
    }

    .btn-search-close:hover{
        opacity: 1;
    }

    .btn-info{
        position: absolute;
        right: 10px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid var(--boxBod);
        cursor: pointer;   
    }

    .btn-float-right{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--boxBak);
        border-radius: 50%;
        right: 0px;
        bottom: 0px;
        z-index: 1000;
        animation: tags-picks-up 1s ;
        cursor: pointer; 
    }

    .btn-float-right:hover{
        border: var(--boxBod) 1px solid;
        transform: translate(1px,-2px);
    }



    .tags-box{
        position: relative;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        padding: 6px;
        gap: 6px 6px;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: #7a7a7a3f;
        border-radius: 4px;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .tags-box::-webkit-scrollbar {
        display: none;
    }
    .tags-picks{
        cursor: default;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        padding: 4px 8px;
        background: #282828;
        font-size: 10px;
    }

    @keyframes tags-picks-up {
        0%{
            opacity: 0;
            transform: translateY(6px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .tags {
        position: relative;
        animation: tags-picks-up 0.2s;
    }

    .tags-close {
        cursor: pointer;
        width: 14px;
        height: 14px;
        position: absolute;
        right: -6px;
        top: -6px;
    }

    .tags-chkbox{
        position: relative;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid var(--boxBod);
        cursor: pointer;
    }

    input[type="checkbox"]:checked + .tags-chkbox::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--mainColor);
        top: 2px;
        left: 2px;
    }

    .tags-lists{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .tags-lists::-webkit-scrollbar {
        display: none;
    }

    .tag-list{
        height: 2.5ch;
        position: relative;
        display: flex;
        align-items: center;
        margin: 4px 0px;
        padding: 4px;
        gap: 4px;
        border-radius: 4px;
        background-color:#2c2c2c ;
        cursor: default;
        overflow-y: hidden;
        scrollbar-width: none;
    }

    .tag-list::-webkit-scrollbar {
        display: none;
    }


    .tag-info-box{
        margin-top: -28px;
        padding:30px 8px 8px 8px;
        border-radius: 4px;
        font-size: 11px;
        background-color: #7a7a7a10;
        color:#5d5d5d ;
        cursor: default;
    }

    .tag-tips{
        padding: 1px 3px;
        border-radius: 4px;
        border: 1px solid var(--liColor1);
        color:var(--liColor1);
        font-size: 9px;
        white-space: nowrap;
    }

    .tags-search-box{
        width: 100%;
        height: 16px;
        font-size: 10px;
        color: var(--boxBod);
        border-radius: 4px;
        background-color: var(--boxBak);
        border: 1px solid var(--boxBod);  
        z-index: 10px;  
    }

    .tags-search-box:focus{     
        border: 1px solid var(--mainColor);
    }

    *:focus {
        outline: none;
    }

    .infos-chkbox{
        cursor: pointer;
    }

    select option:checked {
        background-color:var(--boxBod); 
        color: var(--mainColor); 
    }

    .tags-search-toast{
        width: 90px;
        text-align: center;
        position: absolute;
        bottom: 10px;
        right: 0px;
        padding: 2px 4px;
        border-radius: 4px;
        background-color: #000000;
        pointer-events: none;
    }

    .tags-search-toast-area{
        position: absolute;
        width: 18px;
        height: 18px;
        bottom: 1px;
        right: -1px;
        opacity: 00;
        z-index: 2;
        cursor: pointer;
    }

    .tags-search-toast-area:hover{
        opacity: 1;
        transition: opacity 0.2s;
    }

    .tags-search-toast-area:hover .tags-search-toast{
        transform: translateY(-10px);
        transition: transform 0.2s;
    }

    .tags-divline{
        width: 100%;
        height:3ch;
        color:var(--boxBod);
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .log1{
        color: #f42a2a; 
        display:flex; 
        justify-content: space-between; 
        flex-wrap: wrap;
        height: 100px; 
        width: 100%; 
        max-width: 520px; 
        overflow: scroll;
        scrollbar-width: none;
    }

    .log1::-webkit-scrollbar {
        display: none;
    }
